@import './font.css';

*,
::before,
::after {
	font-family: 'Assistant', sans-serif;
}

.body {
	height: 100vh;
	background: #f3f3f3;
}

.elipse_yellow {
	position: absolute;
	top: 0;
	right: 0;
	height: 400px;
	width: 428px;
	border-radius: 100% 0 0 100%;
	background: #f2d852;
	z-index: -10;
}

.elipse_yellow_left {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 400px;
	width: 328px;
	border-radius: 0 100% 100% 0;
	background: #f2d852;
	z-index: -10;
}

.elipse_blue {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 400px;
	width: 428px;
	border-radius: 0 100% 100% 0;
	background: #96d2d9;
	z-index: -10;
}

@media screen and (max-width: 460px) {
	.elipse_blue {
		height: 300px;
		width: 228px;
		bottom: 0.5rem;
		left: 0;
	}
	.elipse_yellow {
		height: 300px;
		width: 228px;
		top: 8rem;
		right: 0;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f2d852;
}
